<html>
<header class="text-center">
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="centered-element">
  <h1>Welcome to our Hot-Desk App!</h1>
    <div class="my-3">
        <section class="text-center">
            <h4>Experience the convenience of flexible workspace solutions.</43>
                <div class="my-2">
                    <a href="#" class="btn btn-outline-dark">Get Started</a>
                </div>
    </div>
</section>

  </div>
</div>
</header>

</body>
</html>